* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;

    background-color: black;
}

.space {
    position: relative;
    width: 142vmin;
    height: 100vmin;
    margin: auto;

    background-image: url('/assets/images/space.png');
    background-size: cover;
}

.planet-area {
    position: relative;
    width: 40%;
    height: 100%;
}

.planet {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 90%;

    z-index: 3;
}

.rocket {
    position: absolute;
    right: 20%;
    bottom: 25%;
    width: 35%;

    transform: rotate(30deg);

    z-index: 2;
}

.control-panel {
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 30%;
    min-width: 270px;

    padding: 16px;
    border-radius: 5px;
    background-color: #2F393A;
}

.unlock__input {
    height: 36px;
    width: 70%;
}

.unlock__button {
    height: 36px;
    width: 25%;
}

.check-buttons {
    display: flex;
    justify-content: space-around;
    width: 100%;

    padding-top: 16px;
}

.levers {
    display: flex;

    width: 100%;
    padding-top: 16px;
}

.levers input {
    -webkit-appearance: slider-vertical;
    writing-mode: bt-lr;
    width: 100%;
    height: 100px;
}

.launch {
    display: block;
    margin: auto;
    margin-top: 16px;
    padding: 8px;

    color: red;
    text-shadow: black 3px 3px;
    font-weight: 900;
    font-size: 1.5rem;
    background-image: repeating-linear-gradient(-45deg, yellow, yellow 10px, black 10px, black 20px);
}
