* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;

    background-color: black;
}

.space {
    position: relative;
    width: 142vmin;
    height: 100vmin;
    margin: auto;

    background-image: url('/assets/images/space.png');
    background-size: cover;
}

.planet-area {
    position: relative;
    width: 40%;
    height: 100%;
}

.planet {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 90%;

    z-index: 3;
}

.rocket {
    position: absolute;
    right: 20%;
    bottom: 25%;
    width: 35%;

    transform: rotate(30deg);

    z-index: 2;
}

.rocket-animation {
    transform-box: border-box;
    animation: rocketLaunch 3s ease-in forwards;
}

@keyframes rocketLaunch {
    to {
        transform: translate(50vh, -100vh) rotate(30deg);
    }
}

/* Control panel section */

.control-panel {
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 40%;
    min-width: 270px;
    padding: 16px;

    background-image: repeating-linear-gradient(45deg, yellow, yellow 20px, black 20px, black 40px);
}

.control-panel__inner {
    padding: 16px;
    border-radius: 5px;
    background-color: #2F393A;
}

.unlock__input {
    height: 36px;
    width: 70%;

    font-size: 18px;

    padding-left: 8px;
    border-radius: 10px;
    border-color: yellow;
    outline: none;
}

.unlock__button {
    height: 36px;
    width: 54px;

    border-radius: 10px;
    background-color: springgreen;
}

.check-buttons {
    display: flex;
    justify-content: space-around;
    width: 100%;

    padding-top: 16px;
}

.levers {
    display: flex;

    width: 100%;
    padding-top: 16px;
}

.levers input {
    -webkit-appearance: slider-vertical;
    writing-mode: bt-lr;
    width: 100%;
    height: 100px;
}

.launch {
    display: block;
    margin: auto;
    margin-top: 16px;
    padding: 8px;

    width: 120px;
    height: 120px;
    
    color: white;
    font-weight: 900;
    font-size: 1.5rem;
    background-color: red;
    border-radius: 50%;
}
